#produtos .titulos {
  text-align: center;
  color: black;
  margin-top: 20px;
}

.secao-produtos {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 25px;
}

.secao-produtos p {
  font-size: 1.1rem;
}

.titulos {
  margin-bottom: 5px;
}

.text {
  margin-top: 20px;
  background-color: #1f1f1f;
}

.text p {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.card-carros {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 30px;
  padding: 25px;
  flex: 1 1 calc(25% - 20px); 
  box-sizing: border-box;
}

.card-carros h3 {
  color: black;
}

.card-carros img {
  width: 350px; 
  height: auto;
  box-shadow: 10px 10px 10px rgb(48, 46, 46);
}

.card-carros p {
  color: black;
  font-weight: bold;
  font-size: 40px;
}

.carros-imgs {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

.btn-comprar {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.btn-comprar:hover {
  background-color: #218838;
}


@media (max-width: 1200px) {
  .card-carros {
    flex: 1 1 calc(33.33% - 20px); 
  }
}

@media (max-width: 768px) {
  .card-carros {
    flex: 1 1 calc(50% - 20px); 
  }

  .card-carros p {
    font-size: 30px; 
  }
}

@media (max-width: 480px) {
  .card-carros {
    flex: 1 1 100%; 
  }

  .card-carros p {
    font-size: 24px; 
  }
}
