@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

.header {
  display: flex;
  gap: 10px 20px;
  align-items: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px; /* Espaçamento interno */
}

.title-site {
  color: #000000;
  padding: 10px;
  font-family: 'Kablammo';
}

.header picture {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  margin-left: -20%;
}

nav a {
  color: rgb(17, 6, 6);
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  right: -20rem;
}

.header ul {
  position: relative; /* Para o efeito de hover */
}

.header nav ul li {
  position: relative; /* Para o efeito de hover */
}

.header nav ul li a {
  text-transform: uppercase;
  padding: 3px 6px;
  border-radius: 5px;
}

.header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #000000;
  width: 0;
  height: 1.5px;
  transition: 0.3s;
}

.header a:hover {
  color: black;
  font-weight: bold;
  transition-delay: 5.5ms;
}

